<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Application.Name</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="@ViewBag.Description">
    @* Author - (Optional) Used by search engines. The author of the page. *@
    @if (ViewBag.Author != null)
    {
        <meta name="author" content="@ViewBag.Author">
    }
    @* Render Twitter Card meta tags. *@
    @if (ViewBag.TwitterCard != null)
    {
        @Html.TwitterCard((TwitterCard)ViewBag.TwitterCard);
    }
    @* Render Facebook Open Graph meta tags. *@
    @if (ViewBag.OpenGraph != null)
    {
        @Html.OpenGraph((OpenGraphMetadata)ViewBag.OpenGraph);
    }
    @* Render the Referrer meta tag for increased privacy. *@
    @if (ViewBag.ReferrerMode != null)
    {
        @Html.ReferrerMeta((ReferrerMode)ViewBag.ReferrerMode)
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(Application.ShortName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/acerca-de-nosotros/">¿Quienes somos?</a></li>
                    <li><a href="/contacto/">Contacto</a></li>
                </ul>
                @Html.Partial("_MenuPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Application.ShortName</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
