<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Safari</title>
    @Styles.Render("~/Content/css")
    <link href="~/Areas/Admin/Content/bootstrap-cosmo.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Safari", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/acerca-de-nosotros/">¿Quienes somos?</a></li>
                    <li><a href="/contacto/">Contacto</a></li>
                    <li><a href="~/Areas/Admin/Views/Dashboard/Index.cshtml">Administración</a></li>
                </ul>
                @Html.Partial("_MenuPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mt-md-0 mt-3">
                    <a href="" target="_self">
                        <div class="title">Nosotros</div>
                    </a>
                </div>
                <div class="col-md-3 mt-md-0 mt-3">
                    <div class="title">Ventas y consultas</div>
                    <div class="informacion">
                        <p>Atención telefónica:</p>
                        <p>0810-220-2345</p>
                        <p>Lunes a Viernes de 9 a 20 hs</p>
                        <p>Sábados de 9 a 13 hs</p>
                        <p>Feriados de 10 a 15 hs</p>
                    </div>
                </div>
                <div class="col-md-3 mt-md-0 mt-3">
                    <div class="title">Redes Sociales</div>
                    <div class="informacion">
                        <a href="" target="_blank">
                            <img src="~/Images/facebook.png">
                        </a>
                        <a href="" target="_blank">
                            <img src="~/Images/youtube.png" />
                        </a>
                        <a href="" target="_blank">
                            <img src="~/Images/instagram.png" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 mt-md-0 mt-3">
                    <a href="" target="_self">
                        <div class="title">Sucursales</div>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-copyright-admin text-center py-3">
            © 2018 Copyright - @DateTime.Now.Year - Safari
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>